<footer class="my_footer" id="full_width">
  <div class="container-fluid">
    <p>
      <%= t('.copyright', :year => Time.now.year,
                          :site_name => Refinery::Core.site_name) %>
    </p>
  </div>
</footer>